<% layout('/modules/cmsfront/themes/layouts/default.html', {title:'首页',libs: []}){ %>
<!DOCTYPE html>
<html lang="en">
<head>
<title>首页</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 ">
				<div class="bs-component page-header">
					<div class="jumbotron">
						<h1>JeeSite平台简介</h1>
						<p>JeeSite 隶属于济南卓源软件有限公司，是一个 Java EE 企业级快速开发平台，
                                            基于经典技术组合（Spring Boot、Apache Shiro、MyBatis、Beetl、Bootstrap）在线代码生成工具，
                                            支持 Spring Cloud 架构，分布式，微服务，微内核，信息化领域的专家。</p>
						<p>
							<a class="btn btn-primary btn-lg" href="http://www.jeesite.com" target="_blank">更多</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h2>站内栏目</h2>
				
						<#cms:site  path="remarks" value="hellow" rows="4" maxlength="500" class="form-control"/>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="bs-component">
					<div class="panel panel-default">
						<div class="panel-heading"><small><a href="${ctx}/list-2" class="pull-right">更多&gt;&gt;</a></small>政务公开</div>
						<div class="panel-body">Panel content</div>
						<div class="panel-footer"></div>
					</div>
					
				</div>
			</div>
			<div class="col-lg-4">
				<div class="bs-component">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title"><small><a href="${ctx}/list-2" class="pull-right">更多&gt;&gt;</a></small>在线咨询</h3>
						</div>
						<div class="panel-body">Panel content</div>
						<div class="panel-footer"></div>
					</div>
					
					
				</div>
			</div>
			<div class="col-lg-4">
				<div class="bs-component">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h3 class="panel-title"><small><a href="${ctx}/list-2" class="pull-right">更多&gt;&gt;</a></small>党政建设</h3>
						</div>
						<div class="panel-body">Panel content</div>
						<div class="panel-footer"></div>
					</div>
					
				</div>
			</div>
		</div>
		
</body>
</html>
<% } %>
